/*light teal*/
.bg-light-teal {
  background-color: #83c5be;
}
.text-light-teal {
  color: #83c5be;
}
/*Dark teal*/
.text-teal {
  color: #006d77;
}
.bg-teal {
  background-color: #006d77;
}

/*gray*/
.text-gray {
  color: #2f3e46;
}
.bg-gray {
  background-color: #2f3e46;
}

.bg-color {
  background-color: #edf6f9;
}
